header{
    background-color:rgb(46, 2, 78);
    overflow:visible;
}
h1{ text-align: left;
    text-indent: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:60px  ;
    
    color: white;

}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}
a{
    color: white;
}
body{
    background-color:indigo;
}

.Navigation_Bar{
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
}

.Thinking{
    margin-top: 100px;
    height: 700px;
    width:700px;
   
}
.Poem{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic ;
    margin-top: 75px;
}

.hobbies{ 
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align:left;
    text-anchor: middle;
}

.music{
    margin-top: 50px;
    height: 500px;
    width:700px;
}
.movies{ 
    margin-top: 50px;
    height: 500px;
    width:700px;

}
.fitness{
    margin-top: 50px;
    height: 500px;
    width:700px;
}
.portfolio{
    color: white;
    font-size: 25px;
    
}

.alpha{
    margin-top: 50px;
    height: 500px;
    width:700px;
}

.beta{
    margin-top: 50px;
    height: 500px;
    width:700px;
}

.gamma{
    margin-top: 50px;
    height: 500px;
    width:700px;
}