header{
    background-color:rgb(46, 2, 78);
    overflow:visible;
}
h1{ text-align: left;
    text-indent: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:60px  ;
    color: white;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

a{
    color: white;
}

body{
    background-color:indigo;
}

.Navigation_Bar{
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
}

.Homecircle{
    position: absolute;
    border-radius: 50%;
}
.circle1{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 100px;
    z-index: 2;
}
.circle2{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 300px;
    z-index: 2;
}
.circle3{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 600px;
    z-index: 2;
}
.circle4{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 500px;
    z-index: 2;
}

.circle5{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 2250px;
    z-index: 2;
}

.circle6{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 2000px;
    z-index: 2;
}


.circle7{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 1650px;
    z-index: 2;
}
.circle8{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 1750px;
    z-index: 2;
}

.Thinking{
    margin-top: 125px;
    position: relative;
    border-radius: 50rem;
    height: 700px;
    width:700px;
   
}
.Poem{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic ;
    margin-top: 75px;


}

.Aboutcircle{
    position: absolute;
    border-radius: 50%;
}
.circle1{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 100px;
    z-index: 2;
}
.circle2{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 300px;
    z-index: 2;
}
.circle3{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 600px;
    z-index: 2;
}
.circle4{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 500px;
    z-index: 2;
}

.circle5{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 2250px;
    z-index: 2;
}

.circle6{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 2000px;
    z-index: 2;
}


.circle7{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 1650px;
    z-index: 2;
}
.circle8{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 1750px;
    z-index: 2;
}

.hobbies{ 
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align:center;
    text-anchor: middle;
}

.music{
    margin-top: 50px;
    border-radius: 50rem;
    height: 700px;
    width: 700px;
}
.movies{ 
    margin-top: 50px;
    border-radius: 50rem;
    height: 700px;
    width:700px;

}
.fitness{
    margin-top: 50px;
    border-radius: 50rem;
    height: 700px;
    width:700px;
}

.Portfoliocircle{
    position: absolute;
    border-radius: 50%;
}
.circle1{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 100px;
    z-index: 2;
}
.circle2{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 300px;
    z-index: 2;
}
.circle3{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 600px;
    z-index: 2;
}
.circle4{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 500px;
    z-index: 2;
}

.circle5{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 2250px;
    z-index: 2;
}

.circle6{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 2000px;
    z-index: 2;
}


.circle7{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 1650px;
    z-index: 2;
}
.circle8{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 1750px;
    z-index: 2;
}

.portfolio{
    color: white;
    font-size: 25px;
    text-align: center;
}

.alpha{
    margin-top: 50px;
    border-radius: 50rem;
    height: 700px;
    width:700px;
}

.beta{
    margin-top: 50px;
    border-radius: 50rem;
    height: 700px;
    width:700px;
}

.gamma{
    margin-top: 50px;
    border-radius: 50rem;
    height: 700px;
    width:700px;
}