header{
    background-color:rgb(46, 2, 78);
    overflow:visible;
}
h1{ text-align: left;
    text-indent: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:60px  ;
    color: white;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

a{
    color: white;
}

body{
    background-color:indigo;
}
.Navigation_Bar{
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
}





.Homecircle{
    position: absolute;
    border-radius: 50%;
}
.circle1{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 100px;
    z-index: 2;
}
.circle2{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 300px;
    z-index: 2;
}
.circle3{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 600px;
    z-index: 2;
}
.circle4{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 500px;
    z-index: 2;
}
.circle5{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 2250px;
    z-index: 2;
}
.circle6{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 2000px;
    z-index: 2;
}
.circle7{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 1650px;
    z-index: 2;
}
.circle8{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 1750px;
    z-index: 2;
}
.Thinking{
    margin-top: 125px;
    position: relative;
    border-radius: 50rem;
    height: 700px;
    width:700px; 
}
.Thinking:hover{
    height: 820px;
    width: 820px;
}
.Poem{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic ;
    margin-top: 75px;


}





.Aboutcircle{
    position: absolute;
    border-radius: 50%;
}
.circle1{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 100px;
    z-index: 2;
}
.circle2{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 300px;
    z-index: 2;
}
.circle3{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 500px;
    z-index: 2;
}
.circle4{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 600px;
    z-index: 2;
}
.circle5{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 2250px;
    z-index: 2;
}
.circle6{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 2000px;
    z-index: 2;
}
.circle7{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 1750px;
    z-index: 2;
}
.circle8{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 1650px;
    z-index: 2;
}
.circle9{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 1400px;
    left: 100px;
    z-index: 2;
}
.circle10{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 1550px;
    left: 300px;
    z-index: 2;
}
.circle11{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 1800px;
    left: 500px;
    z-index: 2;
}
.circle12{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 2200px;
    left: 600px;
    z-index: 2;
}
.circle13{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 1400px;
    left: 2250px;
    z-index: 2;
}
.circle14{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 1550px;
    left: 2000px;
    z-index: 2;
}
.circle15{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 1800px;
    left: 1750px;
    z-index: 2;
}
.circle16{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 2200px;
    left: 1650px;
    z-index: 2;
}
.circle17{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 2700px;
    left: 100px;
    z-index: 2;
}
.circle18{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 2850px;
    left: 300px;
    z-index: 2;
}
.circle19{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 3100px;
    left: 500px;
    z-index: 2;
}
.circle20{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 3500px;
    left: 600px;
    z-index: 2;
}
.circle21{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 2700px;
    left: 2250px;
    z-index: 2;
}
.circle22{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 2850px;
    left: 2000px;
    z-index: 2;
}
.circle23{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 3100px;
    left: 1750px;
    z-index: 2;
}
.circle24{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 3500px;
    left: 1650px;
    z-index: 2;
}
.hobbies{ 
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align:center;
    text-anchor: middle;
}
.music{
    margin-top: 50px;
    border-radius: 50rem;
    height: 550px;
    width: 550px;
}
.music:hover{
    height: 625px;
    width: 625px;
}
.movies{ 
    margin-top: 50px;
    border-radius: 50rem;
    height: 550px;
    width:550px;
}
.movies:hover{
    height: 625px;
    width: 625px;
}
.plants{
    margin-top: 50px;
    border-radius: 50rem;
    height: 550px;
    width:550px;
}
.plants:hover{
    height: 625px;
    width: 625px;
}





.Portfoliocircle{
    position: absolute;
    border-radius: 50%;
}
.circle1{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 100px;
    z-index: 2;
}
.circle2{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 300px;
    z-index: 2;
}
.circle3{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 500px;
    z-index: 2;
}
.circle4{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 600px;
    z-index: 2;
}
.circle5{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 2250px;
    z-index: 2;
}
.circle6{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 2000px;
    z-index: 2;
}
.circle7{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 1750px;
    z-index: 2;
}
.circle8{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 1650px;
    z-index: 2;
}
.circle9{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 1400px;
    left: 100px;
    z-index: 2;
}
.circle10{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 1550px;
    left: 300px;
    z-index: 2;
}
.circle11{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 1800px;
    left: 500px;
    z-index: 2;
}
.circle12{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 2200px;
    left: 600px;
    z-index: 2;
}
.circle13{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 1400px;
    left: 2250px;
    z-index: 2;
}
.circle14{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 1550px;
    left: 2000px;
    z-index: 2;
}
.circle15{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 1800px;
    left: 1750px;
    z-index: 2;
}
.circle16{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 2200px;
    left: 1650px;
    z-index: 2;
}
.circle17{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 2700px;
    left: 100px;
    z-index: 2;
}
.circle18{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 2850px;
    left: 300px;
    z-index: 2;
}
.circle19{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 3100px;
    left: 500px;
    z-index: 2;
}
.circle20{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 3500px;
    left: 600px;
    z-index: 2;
}
.circle21{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 2700px;
    left: 2250px;
    z-index: 2;
}
.circle22{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 2850px;
    left: 2000px;
    z-index: 2;
}
.circle23{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 3100px;
    left: 1750px;
    z-index: 2;
}
.circle24{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 3500px;
    left: 1650px;
    z-index: 2;
}
.portfolio{
    color: white;
    font-size: 25px;
    text-align: center;
}
.picasso{
    margin-top: 50px;
    /* border-radius: 50rem; */
    height: 400px;
    width: 700px;
}
.picasso:hover{
    height: 450px;
    width: 750px;
}
.groceries{
    margin-top: 50px;
    /* border-radius: 50rem; */
    height: 400px;
    width:700px;
}
.groceries:hover{
    height: 450px;
    width: 750px;
}
.gamma{
    margin-top: 50px;
    /* border-radius: 50rem; */
    height: 400px;
    width:700px;
}
.gamma:hover{
    height: 450px;
    width: 750px;
}





.Contactcircle{
    position: absolute;
    border-radius: 50%;
}
.circle1{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 100px;
    z-index: 2;
}
.circle2{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 300px;
    z-index: 2;
}
.circle3{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 600px;
    z-index: 2;
}
.circle4{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 500px;
    z-index: 2;
}
.circle5{
    background-color:rgba(255, 255, 255, 0.205);
    width: 150px;
    height: 150px;
    top: 100px;
    left: 2250px;
    z-index: 2;
}
.circle6{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 2000px;
    z-index: 2;
}
.circle7{
    background-color: rgba(255, 255, 255, 0.205);
    width: 250px;
    height: 250px;
    top: 900px;
    left: 1650px;
    z-index: 2;
}
.circle8{
    background-color:rgba(255, 255, 255, 0.205) ;
    width: 300px;
    height: 300px;
    top: 500px;
    left: 1750px;
    z-index: 2;
}
.contact{
    margin-top: 50px;
    text-align: center;
    
}
.name{
    margin-right: 30px;
    margin: 20px;
}
.nameinput{
    height: 40px;
    width: 380px;
}
.email{
    margin: 45px;
}
.emailname{
    margin-right: 35px;
    margin: 20px;
}
.emailinput{
    height: 40px;
    width: 380px;
}
.messagename{
    margin-left: 35px;
    margin: 20px;
}
.textarea{
    margin-right: 30px;
}
.submit{
    margin: 35px;
    margin-left: 455px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    color: white;
    background-color: rgb(180, 99, 204);
}